<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
        <dl class="dl-horizontal">
          <dt><u>REVIEWS</u></dt>
          <dd></dd>
        </dl>
        <% @product.reviews.order('created_at DESC').each do |r| %>
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= r.user.first_name %> <%= r.user.last_name[0] %>.</dd>
          <dt>Rating</dt>
          <dd><span><% r.rating.times do %><%= image_tag "star.svg", class: "review-star" %><% end %></span></dd>
          <% if !r.description.nil? %>
          <dt>Comments</dt>
          <dd><%= r.description %></dd>
          <% end %>

          <% if cookies.encrypted[:user_session] == r.user_id %>
          <dt></dt>
          <dd><%= link_to fa_icon('trash'), product_review_path(@product, r), method: :delete %></dd>
          <% end %>

        </dl>
        <% end %>
        <% if !cookies.encrypted[:user_session].nil? %>
        <div><%= render 'reviews/new' %></div>
        <% end %>

      </div>

    </div>

  </article>

</section>
